{% extends 'base.html' %}

{% block title %}Group Packing{% endblock %}

{% block content %}


    <div class="container">
        <div class="jumbotron">
            <h1>Group Packing</h1>
            <p> A web app designed to make planning the gear for your next trip with friends easy.</p>
            {% if current_user.is_authenticated %}
                <a class="btn-lg" href="{{ url_for('user', username=username) }}">Inventory</a>
            {% else %}
                <a class="btn-lg" href="{{ url_for('login') }}">Login</a><a class="btn-lg" href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </div>
{% endblock %}