{% extends 'user_base.html' %}


{% block user_content %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ url_for('main.manage_group', groupname=group.name) }}">Group Home</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('main.manage_bag', groupname=group.name, username=current_user.username) }}">Your Bag</a></li>
        <li role="presentation"><a href="{{ url_for('main.manage_shared', groupname=group.name) }}">Shared Gear</a></li>
    </ul>

    <a href="#addItem" class="btn btn-md btn-primary" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="addItem">
        <span class="glyphicon glyphicon-plus" id="toggleAdd"></span>
    </a>
    <div class="collapse" id="addItem">
        <div class="clearfix well well-sm">
            <form action="" class="form" method="post">
                {% if form.errors %}
                    <div class="alert alert-danger">{{ form.errors }}</div>
                {% endif %}
                {{ form.csrf_token }}
                <div class="form-group">
                    <h4>Add a new item:</h4>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Item Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        {{ form.category(class_='form-control') }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-10">
                        <select name="type" id="type" class="form-control">

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="weight" class="col-sm-2 control-label">Weight(grams)</label>
                    <div class="col-sm-10">
                        <input type="number" name="weight" class="form-control" id="weight">
                    </div>
                </div>

                <div class="form-group">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>Pick items from your closet</h5>
                                </div>
                                <div class="panel-body">
                                    <ul id="items">
                                    {% for i in range(0, item_choices|length) %}
                                        <li>
                                            <label class="checkbox-inline">
                                                <input name="items" type="checkbox" id="items-{{ i }}" value="{{ item_choices[i][0] }}"> {{ item_choices[i][1] }}
                                            </label>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Add Item</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="well well-sm">
        <h5>List Totals</h5>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Gear Count</th>
                    <th>Total Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ group_list.items.all()|length }}</td>
                    <td>{{ weights|sum }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        {% for category in categories %}
            <div class="well well-sm">
                <h5>
                    {{ category.name }}
                    <a href="#toggleTable{{ category.name|replace('/', '')|replace(' ', '') }}" class="btn btn-xs btn-default" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="toggleTable{{ category.name|replace('/', '')|replace(' ', '') }}">
                        <span class="glyphicon glyphicon-menu-up"></span>
                    </a>
                </h5>
                <div id="toggleTable{{ category.name|replace('/', '')|replace(' ', '') }}" class="collapse in">
                    <table class="table table-condensed table-hover">
                        <caption>{{ category.name }}</caption>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in group_list.items.all() %}
                                {% if item.category.name == category.name  %}
                                    <tr>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.type.name }}</td>
                                        <td>{{ item.weight }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

