{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function() {
        $('select[name="category"').bind('change', function() {
            $.getJSON({{ url_for('create_opts') }}, {
                cat: $('select[name="category"]').value
                }, function (data) {
                console.log(data.result)
            })
        };
    });


   $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>




